
/* HEADER AND NAV */
header {
  height: 10vh;
  background-color: #f2f2f2;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 9999;
}

header a {
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10vh;
}

.navbar ul {
  display: flex;
  margin-right: 30px;
  margin-bottom: 0;
  height: 100%;
}

.navbar ul li {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
  padding: 0 20px;
}

.navbar ul li:hover{
  background: #ccc;
}


.navbar ul li a {
  text-decoration: none;
  font-size: 1.2em;
}

.center-row {
  text-align: center;
}


#logo-img {
  height: 10vh;
}

/*SIDE MENU TOGGLE */
#open-slide{
  width: 50px;
  height: 6vh;
  position: relative;
  margin-right:20px;
  margin-bottom: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}


#open-slide span {
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  background: #000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#open-slide span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#open-slide span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#open-slide span:nth-child(1), #open-slide span:nth-child(2) {
  top: 0px;
}

#open-slide span:nth-child(3), #open-slide span:nth-child(4) {
  top: 14px;
}

#open-slide span:nth-child(5), #open-slide span:nth-child(6) {
  top: 28px;
}

#open-slide.open span:nth-child(1),#open-slide.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#open-slide.open span:nth-child(2),#open-slide.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#open-slide.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#open-slide.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#open-slide.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#open-slide.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#open-slide.open span:nth-child(5) {
  left: 4px;
  top: 23px;
}

#open-slide.open span:nth-child(6) {
  left: calc(50% - 4px);
  top: 23px;
}




.side-nav{
  height: 100%;
  background: #111;
  opacity: 0.9;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 80px;
  transition: 0.5s ease-in-out;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  transition: 0.3s;
}

.side-nav a.btn-close {
  font-size: 3em;
}

.hero {
  height: 90vh;
  margin-top: 10vh;
  background: url('../images/hero.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10%;
  box-sizing: border-box;
}


/*=============ABOUT US SECTION ========*/
.about-us {
  background-color: rgba(50,50,50,0.3);
}

.about-us .row {
  padding: 70px 0;
}

.about-us h1 {
  width:100%;
  text-align: center;
}


/*============WHERE SECTION==================*/
.where {
  padding-top: 100px;
  background: url('../images/where.jpg') no-repeat center center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  background-size: cover;
  background-attachment: fixed;
    color: white;
}


.where h1 {
  margin-bottom: 40px;
}

.where-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.where-image img {
  margin-bottom: 10px;
}


/** MEDIA QUERIES **/
@media screen and (max-width: 750px){
  .navbar>ul {display:none};
}
@media screen and (min-width: 750px){
  #open-slide{
    display: none;
  }
}
