
/*=========GLOBAL STYLING ========*/
p {
  line-height: 50px;
  font-size: 1.2em;
}

h1 {
  font-weight: normal;
}

hr{
  background-color: black;
  color: black;
  height: 2px;
}

/* HEADER AND NAV */
header {
  height: 10vh;
  background-color: #f2f2f2;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 9999;
}

header a {
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.navbar ul {
  display: flex;
  margin-right: 30px;
  margin-bottom: 0;
  height: 100%;
}

.navbar ul li {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
  padding: 0 20px;
}

.navbar ul li:hover{
  background: #ccc;
}


.navbar ul li a {
  text-decoration: none;
  font-size: 1.2em;
}

.center-row {
  text-align: center;
}


#logo-img {
  height: 10vh;
  transform: scale(1.25);
}

/*SIDE MENU TOGGLE */
.menuToggle {
  height: 50px;
  width: 50px;
  display:flex;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.leftSpans, .rightSpans {
  width:50%;
}

.menuToggle span {
  display: block;
  position: absolute;
  height: 1vh;
  background: black;
  width: 50%;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.leftSpans span:nth-child(1), .rightSpans span:nth-child(1){
  top: 16.5%;
}

.leftSpans span:nth-child(2), .rightSpans span:nth-child(2){
  top: 49.5%;
}

.leftSpans span:nth-child(3), .rightSpans span:nth-child(3){
  top: 82.5%;
}

.menuToggle.open .leftSpans span:nth-child(1), .menuToggle.open .rightSpans span:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menuToggle.open .leftSpans span:nth-child(3),.menuToggle.open .rightSpans span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menuToggle.open .leftSpans span:nth-child(2) {

  opacity: 0;
}

.menuToggle.open .rightSpans span:nth-child(2) {

  opacity: 0;
}


.menuToggle.open .leftSpans span:nth-child(1) {
  top: 33%;
  left:8.2%
}

.menuToggle.open .rightSpans span:nth-child(1) {
  top: 33%;
  right: 8.2%;
}



.menuToggle.open .leftSpans span:nth-child(3) {
  left: 8.2%;
  top: 66%;
}

.menuToggle.open .rightSpans span:nth-child(3) {
  right: 8.2%;
  top: 66%;
}

/* SIDE NAV */


.side-nav{
  height: 100%;
  background: #111;
  opacity: 0.9;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 12vh;
  transition: 0.5s ease-in-out;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  transition: 0.3s;
}

.side-nav a.btn-close {
  font-size: 3em;
}


/*HERO*/

.hero {
  height: 90vh;
  margin-top: 10vh;
  background: url('../images/hero.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10%;
  box-sizing: border-box;
}


/*=============ABOUT US SECTION ========*/
.about-us {
  background-color:#f2f2f2;
}

.about-us .row {
  padding: 70px 0 40px 0;
}

.about-us h1 {
  width:100%;
  text-align: center;
}

.social {
  width: 100%;
  text-align: center;
}

.social a.button {
  width: 130px;
  margin: 10px;
}


/*============WHERE SECTION==================*/
.where {
  padding-top: 40px;
  background: #f2f2f2;
}

.where .reverse-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.where .reverse-row>div {
  margin-left: 0;
}

.where h1 {
  margin-bottom: 40px;
}

.where img {
  width: 100%;
}

.where .row {
  margin-bottom: 30px;
}

.where h3 {
  font-weight: normal;
}

.where-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


/*==========NEWSLETTER=========*/
.newsletter {
  padding-top: 100px;
  height: 45vh;
  background: url('../images/where.jpg') no-repeat center center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  background-size: cover;
  background-attachment: fixed;
    color: white;
}


/** MEDIA QUERIES **/
@media screen and (max-width: 750px){
  .navbar>ul {display:none};
}
@media screen and (min-width: 750px){
  .menuToggle{
    display: none;
  }
}
@media screen and (max-width: 550px){
  .where .reverse-row{
    flex-direction: column;
  }
  .where p{
    line-height: 1em;
  }
}
